@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  padding-top: 100px;
} */

.custom-scrollbar::-webkit-scrollbar {
  overflow: hidden;
}

.scrollBar {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    overflow: hidden;
  }
}
