@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  overflow: hidden;
}

.scrollBar {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    overflow: hidden;
  }
}

.aiImageBg {
  background-image: linear-gradient(to bottom, #000000a1, #0000003d),
    url(../assets/images/bg.jpg);
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.download_button {
  display: none;
}

.generated_image:hover .download_button {
  display: block;
}
